!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LocalRoasters
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav
        .logo
          = image_tag('https://via.placeholder.com/150')
        .nav-links
          %ul
            %li= link_to 'About', '#'
            %li= link_to 'Search', '#'
            %li= link_to 'Contact', '#'
    %main
      = yield
    %footer
